nitrogen --restore --set-zoom-fill &

# compositor
# picom -f & 

compton --config ~/.config/compton/compton.conf &

# screen resolution
xrandr --output eDP1 --primary --mode 1920x1080 --pos 0x0 --rotate normal --output HDMI1 --mode 1366x768 --pos 0x0 --rotate normal --output VIRTUAL1 --off


# set touchpad settings

xinput set-prop "ETPS/2 Elantech Touchpad" 335 1
xinput set-prop "ETPS/2 Elantech Touchpad" 315 1


# battery notification

batsignal -w 30 -W "Battery Low : < 30" -c 15 -C "Battery Low : < 15>" -d 10 -D "Battery Low : < 10" -f 99 -F "Battery Full" -b 
